.inputBar__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBar__wrapper {
    width: 100%;
}

.inputBar {
    width: 100%;
}